/* CARRITO */

.contenidoEntero{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 13.4rem;
}
.encerrandoCarro{
    margin: auto 0;
    overflow-y: scroll;
    box-sizing: none;
    box-shadow: 1px 1px 18px 0px black;
}
.totalCarrito {
    display: flex;
    flex-direction: column;
    position: relative;
}
.eliminarBorrar {
    display: block;
    position: absolute;
    right: 1.2rem;
    top: 0.5rem;
    color: black;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}
.productoEnCarrito {
    
    display: flex;
    justify-content: space-evenly;
    width: 40rem;
    margin-bottom: 6px;
    border-radius: 5px;
    background-color: #f2eded;
    color: rgb(242, 227, 227);;
}
.imagenTotalProducto{
    height: 100%;
    width: 40%;
}
.imagenTotalProducto img {
    height: 8rem;
    margin: 0.4rem;  
}
.nombreDelProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    width: 60%;
}
.numerosCarritos {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    text-align: center;
}
.separadorMax{
    width: 50%;
}
.codigoDescuento {
    padding: 2.5rem 0;
    box-sizing: 0px white   ;
    box-shadow: 1px 1px 18px 0px black; 
    text-align: center; 
    width: 98%;
    margin-left: 1%;
    margin-bottom: 2px;
    border-radius: 6px;
    background-color: #f2eded;
    color: rgb(242, 227, 227);;
}
.cuponDescuento {
    text-align: center;
}
.barraDeDescuento {
    display: flex;
    justify-content: center; 
    height: 10%;
}
.coupon-value{
    padding-bottom: 0px;
    display: flex;
    margin: 4px 0;
}
.btnAplicar{
    margin-left: 0.5rem;
    margin-top: 4px;
    height: 77%;
    width: 6rem;
}
.totalYsubtotal {
    display: flex;
    flex-direction: column;
    box-sizing: 0px white;
    box-shadow: 0px 1px 18px 0px black;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 3rem;
    border-radius: 5px;
    background: #f2eded;
    color: rgb(242, 227, 227);
}
.subTotalCarrito {
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
    width: 97%;
    background: #f2eded;
}
.submit-Compra {
    width: 98%;
    padding: 5px 0;
    margin: 4px 6px;
    color: rgb(242, 227, 227);
    font-weight: 600;
    background-color: black;
}
