*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
}
a {
    color: #f2eded;
    text-decoration: none; /*sacar subrayado*/
    font-family: 'Overpass', sans-serif;
}
a:hover {
    color: #f2eded;
    text-decoration: none;
}

ul{
    list-style: none; /*sacarle las viñetas*/
}
p{
    margin: auto;
}
#root{
    background-color: #f2eded;
    background-size: cover;
}
.row {
    justify-content: center;
    gap: 2rem;
}
