/* filter */
.filter{
    width: 100%;
    background-color: black;
    border-bottom: 1px solid black;
    text-align: center;
}


.productosConteiner {
    display: grid;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.icon1 {
    font-size: 1.3rem;
    margin-left: 9px;
}

/* end filter */
