/* FOOOOOTER */
.footerDesign {
    background-color: #f2eded;
    display: flex;
    justify-content: space-around;
    font-size: small;
    border-top: 4px black solid;
    color: white;
    margin-top: 3rem;
}
.Contacto-footer .Politicas-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Contacto-footer h3 , .Politicas-footer h3 , .Seguinos-footer h3{
    color: #f2eded;
}
.Seguinos-footer {
    display: flex;
    flex-direction: column;
}
.footerIcon {
    display: flex;
    justify-content: center;
}
.footerIcon2 {
    display: flex;
    justify-content: center;
}
/* END FOOOOOTER */
